.Item {
  background-color: #10f5e2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

}

.Item-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  font-size: 20px;
}
.Item-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 30px;
  font-weight: bold;
}

.Icon-check {
  position: absolute;
  left: 12px;
  color: #E3CEF6;
}
.Icon-check--active {
  color: #0B614B;
}

.Icon-delete {
  position: absolute;
  top: -24px;
  right: 0;
}
.Icon-delete:hover {
   transform: rotate(15deg)
}
